@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">
                    @foreach (var item in Model.Banners)
                    {
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <h1 class="mb-1 mt-2">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </h1>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-flex justify-content-end">
                                    <img class="w-@item.ImageSize rounded" src="@item.ImageUrl" alt="">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="slider-counter"></div>
            </div>
        </div>
    </div>
</section>

<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Featured Category</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <p>Premium Material</p>
                    <h3>Latest Material</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_1.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <p>Premium Material</p>
                    <h3>Latest Material</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <p>Premium Material</p>
                    <h3>Latest Material</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_3.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <p>Premium Material</p>
                    <h3>Latest Material</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
